<% include ../layouts/header %>

<div class="container">
	<div class="jumbotron my-3">
		<div class="container">
			<h2>
				Welcome to YelpPark!
			</h2>
		</div>
	</div>
</div>

<% include ../layouts/footer %>